/* Typography
================================================== */

// Fonts
$arial: 'Arial', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// Base Font
$base-font-family: 'Montserrat', 'Arial', sans-serif;

// Font Size
$base-font-size: 16px;
$mobile-font-size: 14px;

// Font Weight
$normal: 400;
$bold: 700;

// Font line height
$base-line-height: 1.56;

// Font color

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: .25s all;
}